<table *ngIf="countries.length >0   " class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Capital</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of countries; let i =index" class="animate__animated animate__fadeIn animate__faster"> 
                <td>{{i+1}}</td>
                <td>{{item.name.common}}</td>
                <td>{{item.capital}}</td>
                <td>{{item.population | number}}</td>
                <td [routerLink]="['/country',item.cca2]" class="link-primary">Details... </td>
            </tr>
        </tbody>
    </table>